#PORTA DO SERVIDOR DO EXPRESS

PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=9236
DB_DATABASE=amor_em_patinhas
PG_DATABASE_ADMIN=postgres
DB_DATABASE_ADMIN_PASSWORD=9236

# CAMINHO PARA O SQL DO BANCO EM POSTGRES
PSQL_PATH=."C:\Program Files\PostgreSQL\17\bin\psql.exe"
